.msg-box{
  --border-box-color: #5e4ecb;
  --shadow-box-color: #5e4ecb7f;
  --background-color: #100010f0;
  --primary-color: #009688;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  position: absolute;
  perspective: 600px;
  display: none;
  /*width:100%;*/
  /*height:100%;*/
  /*background-color:#10001033;*/
}

.msg-box-body{
  transform: rotateY(0deg);
  border: 2px solid var(--border-box-color);
  border-radius: 20px;
  background-color: var(--background-color);
  min-width: 300px;
  box-shadow: 0 0 10px 2px var(--shadow-box-color);
  animation: promptAnim-show 1s;
}
.msg-box-body.close{ animation: promptAnim-hide 0.5s; }
@keyframes promptAnim-show{from{transform: rotateY(-90deg)} to{transform: rotateY(0deg)}}
@keyframes promptAnim-hide{from{transform: rotateY(0deg)} to{transform: rotateY(90deg)}}

.msg-box-icon{
  position: relative;
  left: 50%;
  top:0px;
  transform: translateX(-50%);
  /*border:2px solid var(--border-box-color);*/
  /*border-radius:50%;*/
  /*background-color: var(--background-color);*/
  color:white;
  width:64px;
  height:64px;
  font-size: 3em;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.msg-box .msg-box-header{
  position: relative;
  top:0;
  color: white;
  border-bottom: 1px solid #333;
  background-color:#100010;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  text-align: center;
  overflow:hidden;
}

.msg-box .msg-box-footer{
  position: relative;
  bottom:0;
  color: white;
  border-top: 1px solid #333;
  background-color:var(--background-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px;
  text-align: center;
}

.msg-box-btns{ display: grid; height:100%; }
.msg-box-btns.n1{ grid-template-columns: auto; }
.msg-box-btns.n2{ grid-template-columns: auto auto; }
.msg-box-btns.n3{ grid-template-columns: auto auto auto; }

.msg-box-btns > button{color:white; background-color:var(--background-color); border: none; border-radius: 0px; height:100%; padding: 5px; }
.msg-box-btns > button:hover{ background-color:#fff3;cursor:pointer}
.msg-box-btns > button:first-child{ border-bottom-left-radius: 20px; }
.msg-box-btns > button:last-child{ border-bottom-right-radius: 20px; }

.msg-box .msg-box-content{
  position: relative;
  top:0px;
  color: white;
  padding: 0px 10px 5px 10px;
  text-align: center;
  margin: 0px 5px 5px 5px;
}

.msg-box-content p{ margin: 0px auto; }